body{
	font-family: "Open Sans", Helvetica;
}
.head{
	background-color: white;
}
.logo img{
	width: 40%;
	margin: 15px 0;
}
.menu li{
	display: inline-block;
	list-style: none;
	margin-left: 20px;
}
.menu a{
	color: gray;
	text-decoration: none;
	font-size: 15px;
}
.menu{
	text-align: right;
	padding: 15px 0;
}
.section1{
	background-color: #808080;
}
.text h1{
	font-size: 40px;
	margin-top: 80px;
	color: white;
}
.text p{
	color: white;
	font-size: 12px;
	margin: 30px 0 80px 0;
}
form{
	background-color: #9a9a9a;
	width: 90%;
	margin: 80px auto;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 7px;
}
input, textarea{
	width: 100%;
	margin-bottom: 10px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
}
textarea{
	height: 100px;
}
#boton{
	background-color: #3eb0f7;
	color: white;
	padding: 20px;
	border:none;
	cursor: pointer;
}
.contact h2{
	color: white;
	text-align: center;
	margin: 10px 0;
}
.foot{
	color: gray;
	font-size: 10px;
	padding: 10px 0;
	background-color: white;
}
.foot a{
	text-decoration: none;
}
@media (min-width: 535px) and (max-width: 824px){
	.container{
		width: 90%;
	}
	.col-7, .col-5{
		width: 100%;
	}
	.logo img{
		width: 80%;
	}
	.text h1{
		margin-top:15px;
		font-size: 60px;
	}
	.menu a{
		font-size: 18px;
	}
	.text p{
		margin-bottom: 15px;
		font-size: 18px;
	}
	form{
		margin-top: 15px;
	}
	#boton{
		padding: 10px;
	}
	.foot{
		font-size: 18px;
	}
}
@media (min-width: 200px) and (max-width: 534px){
	.container{
		width: 90%;
	}
	.col-7, .col-5{
		width: 100%;
	}
	.logo img{
		width: 90%;
	}
	.text h1{
		margin-top:10px;
		font-size: 40px;
	}
	.menu a{
		font-size: 15px;
	}
	.text p{
		margin-bottom: 15px;
		font-size: 15px;
	}
	form{
		margin: 20px 0;
	}
	#boton{
		padding: 10px;
	}
	.foot{
		font-size: 15px;
	}
	.menu li{
	margin-left: 10px;
	}
}
